/* TO PHONES EXTRA SMALL */

@media screen and (max-width: 375px) {

    .navbar{
        width: 100%;
        padding: 10px;
    }
    .info-introduction{
        width: 75%;
    }
    
}

/* TO TABLETS */

@media screen and (min-width: 768px) {
    
    .lines{
        display: none;
    }
    .line{
        display: none;
    }

    .navlist{
        width: fit-content;
        height: fit-content;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        list-style: none;
        position: relative;
        bottom: 0;
        transform: translate(0, 0);
        transition: unset;
        z-index: 999;
        opacity: 1;
        
    }

    .bg-navlist{
        display: none;
    }

    .details{
        width: 100%;
        min-width: 375px;
        max-width: 600px;
        padding: 0 30px;
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .detail-subtitle{
        color:var(--primary);
        font-size: 3rem;
        margin-bottom: 10px;
    }
    
    .detail-title{
        color: var(--black);
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    
    .detail-text{
        font-size: 2rem;
        margin-bottom: 40px;
    }


    /* ICON CARD  */
.icons-card{
    width: 100%;
    min-width: 375px;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    gap: 30px;
}
.icon-card{
    width: 150px;
    height: 170px;
}

.img-cont{
    width: 100%;
    
}

.icon-card img{
    height:100%;
   
}

.icon-card h2{
    padding-bottom: 20px;
    text-align: center;
}

    @keyframes showByLeft {
        from{
            opacity: 0;
            transform: translate(100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(300px , 300px) rotate(-10deg);
        }
    }
    
    @keyframes showByLeft2 {
        from{
            opacity: 0;
            transform: translate(100% , 200px) rotate(0deg);
        }
        to{
            opacity: 0.6;
            transform: translate(450px , 600px) rotate(10deg);
        }
    }

    @keyframes showByRight {
        from{
            display: block;
            opacity: 0;
            transform: translate(-100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(-300px , 300px) rotate(-10deg);
        }
    }
    
    @keyframes showByRight2 {
        from{
            
            opacity: 0;
            transform: translate(-100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(-300px , 600px) rotate(10deg);
        }
    }


}




/* TO LAPTOPS */
@media screen and (min-width: 968px) {
    

    .details{
        width: 100%;
        min-width: 375px;
        max-width: 500px;
        padding: 0 30px;
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .detail-subtitle{
        color:var(--primary);
        font-size: 3rem;
        margin-bottom: 10px;
    }
    
    .detail-title{
        color: var(--black);
        font-size: 3.5rem;
        margin-bottom: 20px;
    }
    
    .detail-text{
        font-size: 2rem;
        margin-bottom: 40px;
    }




    @keyframes showByLeft {
        from{
            opacity: 0;
            transform: translate(100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(400px , 100px) rotate(-10deg);
        }
    }
    
    @keyframes showByLeft2 {
        from{
            opacity: 0;
            transform: translate(100% , 200px) rotate(0deg);
        }
        to{
            opacity: 0.6;
            transform: translate(350px , 300px) rotate(10deg);
        }
    }

    @keyframes showByRight {
        from{
            display: block;
            opacity: 0;
            transform: translate(-100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(-300px , 100px) rotate(-10deg);
        }
    }
    
    @keyframes showByRight2 {
        from{
            
            opacity: 0;
            transform: translate(-100% , 200px) rotate(-10deg);
        }
        to{
            opacity: 0.6;
            transform: translate(-300px , 300px) rotate(10deg);
        }
    }

}
