/* ESTILOS BOTON TO SHOW NAV LIST */

.lines{
    width: 40px;
    height: 40px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 1001;
}

.line{
    width: 100%;
    height: 8px;
    border-radius: 7px;
    transition: 1s all ease-in-out;
}

.line_1{
    background-color: #247291;
}

.line_2{
    background-color: #c4c46a;
}

.line_3{
    background-color: #f8c346;
}


.e-line_1{
    position: absolute;
    top: 10px;
    transform: rotate(45deg);
    transition: 1s all ease-in-out;
}
.e-line_2{
    position: absolute;
    top: 10px;
    transform: rotate(-225deg);
    transition: 1s all ease-in-out;
}
.e-line_3{
    top: 10px;
    position: absolute;
    transform: rotate(-45deg);
    transition: 1s all ease-in-out;
}

/* ESTILOS NAVLIST */

.navlist{
    width: 100%;
    height: calc(100vh + 70px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    transform: translate(100%, -100%);
    transition: 1s all ease-in-out;
    z-index: 1000;
}



.show-navlist{
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s all ease-out
}


ul li a{
    font-size: 2rem;
    font-weight: 700;
    width: 200px;
    color: var(--primary);
    padding:10px 20px;
    border-radius:10px;
    background: var(--secondary);
}

ul li a:hover{
    background: #0d445a;
    box-shadow: 0 0 15px 5px rgba(36, 114, 145, 0.5);
    color:var(--white);
}
